<h1>Test</h1>
<li><%= link_to 'Sign Up', new_user_registration_path %></li>
<li><%= link_to 'Sign In', new_user_session_path %></li>
<li><%= link_to 'Sign Out', destroy_user_session_path(current_user), :data => {:method=>'delete'} %></li>
