<h1>Your Photos</h1>
<h2><%= @user.username %></h2>

<% if !is_admin? %>
  <%= link_to 'Add Image', new_user_image_path(@user), :class=> "btn btn-primary" %>
<% elsif is_admin? %>
  <%= link_to 'Delete User', user_path(@user), :data => {:confirm => "Are you sure?", :method => "delete"}, :class=> "btn btn-danger" %>
<% end %>


<br><br>
<div class="row">
  <% @user.images.each do |image| %>
    <div class="card col-md-4">
      <%=  link_to image_tag(image.image_path.url(:medium)), user_image_path(@user, image)%>
      <div class="card-block">
        <p class="card-text">of a card.</p>
      </div>
    </div>
  <% end %>
</div>
